* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Style the header */
.header {
  background-image: url('assets/image1.jpg');
  text-align: center;
  height: 120px;
  background-size: cover;
}

/* Style the footer */
.footer {
  background-image: url('assets/image2.jpg');
  text-align: center;
  height: 101px;
  background-size: cover;
}

/* Create a flex container for the main content */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 350px;
}

/* Style the left column */
.column-left {
  flex: 1;
  padding: 15px;
  background-color: rgb(180, 17, 161);
  font-size: 20px;
  color: #ffffff;
}

/* Style the right column */
.column-right {
  flex: 1;
  padding: 15px;
  background-color: rgb(17, 131, 180);
  font-size: 20px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .column-left,
  .column-right {
    width: 100%;
  }
}
